{{ define "chosen" }}

    {{ template "meta" }}

    <div class="maxContainer">

        {{ template "header" }}

        <!-- 占位1 -->
        <div class="occupiedOne"></div>

        {{ template "search" }}

        <!-- 占位2 -->
        <div class="occupiedTwo"></div>



        <!-- 精选推荐  -->
        <div class="film-div jx-tt-w">
            <span class="hot-film">精选推荐</span>
        </div> <!-- 精选推荐 end -->


        <!-- 每栏精选内容 -->
        <div class="cfc-t">
            <div class="ctt">
                优酷电影排行|摇滚老炮于谦《老师·好》飙演技，欠谦儿哥一个影帝
            </div>
            <div>
                <img src="/static/images/jingxuan_1.png" width="100%">
            </div>
        </div>

        <div class="jx-wrap">
            <div class="jx-nr">
                <span>优酷电影排行</span>
                <span>刚刚</span>
            </div>
        </div> <!-- 每栏精选内容 end -->



        <!-- 每栏精选内容 -->
        <div class="cfc-t">
            <div class="ctt">
                《复联4》特辑 分别是为了更好的重聚 再战猜猜谁将复活？
            </div>
            <div>
                <img src="/static/images/jingxuan_2.png" width="100%">
            </div>
        </div>

        <div class="jx-wrap">
            <div class="jx-nr">
                <span>影片速递</span>
                <span>7分钟前</span>
            </div>
        </div> <!-- 每栏精选内容 end -->



        <!-- 每栏精选内容 -->
        <div class="cfc-t">
            <div class="ctt">
                《夏目友人帐》破亿彩蛋！是时候作出改变了，年轻人！
            </div>
            <div>
                <img src="/static/images/jingxuan_3.png" width="100%">
            </div>
        </div>

        <div class="jx-wrap">
            <div class="jx-nr">
                <span>影片速递</span>
                <span>2019-03-22</span>
            </div>
        </div> <!-- 每栏精选内容 end -->


        <!-- 底部box -->
        <div class="bottom-box"></div>


        {{ template "navibar" }}


    </div><!-- maxContainer end -->

    {{ template "last" }}

{{ end }}
