{{ define "exclusive" }}

    {{ template "meta" }}

    <div class="maxContainer coupon">

        {{ template "header" }}

        <!-- 占位1 -->
        <div class="occupiedOne"></div>

        {{ template "search" }}

        <!-- 占位2 -->
        <div class="occupiedTwo"></div>


        <!-- 代金券 -->
        <div class="per-coupon">
            <div class="per-coin">
                <span><img src="/static/images/daijinquan.png" width="60"></span>
            </div>

            <div class="coupon-txt">
                <div class="cp-n">
                    <div><b>票雨电影代金券</b></div>
                    <div class="appoint">指定影院通兑 劲爆惊喜价</div>
                    <div class="appoint">有效期至:2019-03-31</div>
                </div>
            </div>

            <div class="coupon-price">
                <div class="cp-p">5<span class="cp-unit">元</span></div>
                <div class="buy-coupon"><a href="#"><span class="buy-cp-bt">购 票</span></a></div>
            </div>
        </div> <!-- 代金券 end -->



        <!-- 代金券 -->
        <div class="per-coupon">
            <div class="per-coin">
                <span><img src="/static/images/daijinquan.png" width="60"></span>
            </div>

            <div class="coupon-txt">
                <div class="cp-n">
                    <div><b>4月专项电影代金券</b></div>
                    <div class="appoint">可叠加|票价满35元可用</div>
                    <div class="appoint">有效期至:2019-04-30</div>
                </div>
            </div>

            <div class="coupon-price">
                <div class="cp-p">5<span class="cp-unit">元</span></div>
                <div class="buy-coupon"><a href="#"><span class="buy-cp-bt">购 票</span></a></div>
            </div>
        </div> <!-- 代金券 end -->



        <!-- 代金券 -->
        <div class="per-coupon">
            <div class="per-coin">
                <span><img src="/static/images/daijinquan.png" width="60"></span>
            </div>

            <div class="coupon-txt">
                <div class="cp-n">
                    <div><b>5月专项电影代金券</b></div>
                    <div class="appoint">可叠加|票价满35元可用</div>
                    <div class="appoint">有效期至:2019-05-31</div>
                </div>
            </div>

            <div class="coupon-price">
                <div class="cp-p">5<span class="cp-unit">元</span></div>
                <div class="buy-coupon"><a href="#"><span class="buy-cp-bt">购 票</span></a></div>
            </div>
        </div> <!-- 代金券 end -->



        <!-- 底部box -->
        <div class="bottom-box"></div>


        {{ template "navibar" }}


    </div><!-- maxContainer end -->

    {{ template "last" }}

{{ end }}
