{{ define "hotshow" }}

    {{ template "meta" }}

    <div class="maxContainer">

        {{ template "header" }}

        <!-- 占位1 -->
        <div class="occupiedOne"></div>

        {{ template "search" }}

        <!-- 占位2 -->
        <div class="occupiedTwo"></div>


        <!-- 全球热映  -->
        <div class="film-div jx-tt-w">
            <span class="hot-film">全球热映</span>
        </div> <!-- 全球热映 end -->



        <div class="occupiedThree" style="height:3%;background-color: #ffffff;"></div>


        <div style="width:90%;margin:auto;">
            <img src="/static/images/xiaofeixiang.png" width="100%">
        </div>

        <!-- 每部影片简介 -->
        <div style="width:90%;margin:auto;">
            <!-- 标题 -->
            <div style="font-size: medium;padding-top:5%;">
                【全球热映】鬼才导演造奇幻世界，看财大气粗迪士尼真人版《小飞象》
            </div> <!-- 标题 end-->

            <!-- 正文 -->
            <div style="padding-top:5%;">
                <div style="padding:2% 0 2% 0;">财大气粗迪士尼或许会吃到，但绝不会缺席。</div>
                <div style="padding:2% 0 2% 0;">真人版《小飞象》同步北美上映，鬼才导演蒂姆·波顿指导，相信再很多人的三月观影清单里</div>
                <div style="padding:2% 0 2% 0;">艾伦王智主演的荒诞喜剧《人间·喜剧》定档，怂夫悍妻的设定闹出不少笑话。</div>
                <div style="padding:2% 0 2% 0;">《看不见的客人》导演新片《海市蜃楼》又要360度螺旋反转，在平行时空玩悬疑，这个设定我吃了。</div>
                <div style="padding:2% 0 2% 0;">具体的，跟着往下看。</div>

                <!-- 空白格 -->
                <div style="padding:0 0 2em 0;"></div>
                <div style=""><img src="/static/images/xfxhaobao.png" width="100%"></div>

                <!-- 空白格 -->
                <div style="padding:0 0 2em 0;"></div>
                <div style="padding:2% 0 2% 0;">动画版电影《小飞象》诞生于1941年，是迪士尼的第四部经典动画，辈分资深。</div>
                <div style="padding:2% 0 2% 0;">当年在北美掀起观影热潮，<span style="color:#92070D;">荣获当年的年度票房亚军，拿下奥斯卡最佳配乐和戛纳最佳动画设计奖。</span></div>
                <div style="padding:2% 0 2% 0;">小象丹波的醉酒幻象段落成了经典，<span style="color:#92070D;">粉色大象、波普风格、霓虹色调变化</span>的超现实致幻场景，越看越上头，迪士尼78年前就创造了如此有瑰丽想象力的动画。</div>


                <!-- 空白格 -->
                <div style="padding:0 0 2em 0;"></div>
                <div style="padding:2% 0 2% 0;"><img src="/static/images/haishishenlou.png" width="100%"></div>
                <div style="padding:2% 0 2% 0;">还记得17年上映的西班牙悬疑片《看不见的客人》吗？</div>
                <div style="padding:2% 0 2% 0;">凭借严丝缝合的推理逻辑、堪比罗生门的交叉叙事和最后的惊天逆转，《看不见的客人》在内地看下<span style="color:#92070D;">1.72亿</span>的票房，<span style="color:#92070D;">大幅刷新西班牙电影在内地的票房记录。</span></div>
                <div style="padding:2% 0 2% 0;">今年，《看不见的客人》导演又带着他的新片《海事蜃楼》来了。</div>
                <div style="padding:2% 0 2% 0;">这位<span style="color:#92070D;">西班牙反转王</span>的新片名都透露着蜜汁嘲讽意味：你看到的，就是你以为的？没准就是海事蜃楼，都是假的。</div>
                <div style="padding:2% 0 2% 0;">这次，导演玩的是一场<span style="color:#92070D;">横跨25年的悬疑凶杀案。</span></div>
                <div style="padding:2% 0 2% 0;">25年前，小男孩目睹另据杀妻，这次目击，成了他的<span style="color:#92070D;">死亡催命符。</span></div>
                <div style="padding:2% 0 2% 0;">25年后，一个女人搬进当年的房子，没想到和25年前的男孩产生了跨时空的对话。</div>
                <div style="padding:2% 0 2% 0;">她试图挽救男孩，但第二天，自己的女儿离奇消失，丈夫和身边人不认识也不相信她......</div>
                <div style="padding:2% 0 2% 0;">现在和过去两个时空螺旋交织，一次对话引发的蝴蝶效应。</div>
                <div style="padding:2% 0 2% 0;">一般的悬疑片是反转再反转，《海事蜃楼》是陀螺抽打式的疯狂反转，不逼你跪着看完不罢休。</div>
                <div style="padding:2% 0 2% 0;"><span style="color:#92070D;">科幻、悬疑、惊悚、凶杀、烧脑</span>，五星期待。</div>

                <!-- 空白格 -->
                <div style="padding:0 0 2em 0;"></div>
                <div style="padding:2% 0 2% 0;"><img src="/static/images/renjianxiju.png" width="100%"> </div>
                <div style="padding:2% 0 2% 0;">always在调档的《人间·喜剧》终于定档了。</div>
                <div style="padding:2% 0 2% 0;"><span style="color:#92070D;">三月难得一见的国产喜剧。</span></div>
                <div style="padding:2% 0 2% 0;">脱离了开心麻花的艾伦还是没逃过演小男人的命运。</div>
                <div style="padding:2% 0 2% 0;">他在片中饰演了一名又怂又没出息的电台主播，别说买房，房租都付不起。</div>
                <div style="padding:2% 0 2% 0;">怂夫出场，必须得有一位悍妇镇着，曾在《夏洛特烦恼》里饰演秋雅的王智，这次演起了大傻的媳妇。</div>
                <div style="padding:2% 0 2% 0;">被生活逼到绝境的两人，为了钱，<span style="color:#92070D;">拳打黑帮大佬，绑架富豪之子</span>，闹出了一系列笑料。</div>
                <div style="padding:2% 0 2% 0;">笑归笑，从艾伦逼厌的境地里，你也能看到小人物活在人间的无解题难。</div>
                <div style="padding:2% 0 2% 0;">喜欢艾伦，想看喜剧的，推荐给你。</div>

            </div> <!-- 正文 end-->

        </div> <!-- 每部影片简介 end -->


        <!-- 底部box -->
        <div class="bottom-box"></div>


        {{ template "navibar" }}


    </div><!-- maxContainer end -->

    {{ template "last" }}

{{ end }}
