{{ define "liveshow" }}

    {{ template "meta" }}

    <div class="maxContainer search-result-container">

        {{ template "header" }}

        <!-- 占位1 -->
        <div class="occupiedOne"></div>

        {{ template "search" }}

        <!-- 占位2 -->
        <div class="occupiedTwo"></div>


        <div class="search-result-nav">
            <span style="padding-left:0.5em;">演出</span>
        </div>


        <div class="search-result-list">
            <div class="blanker"></div>
            <div class="movie-pic">
                <img src="/static/images/luyexianzong.png" width="80">
            </div>
            <div class="movie-name">
                <div class="mv-txt">
                    <div class="gap"><b>音乐剧《绿野仙踪》</b></div>
                    <div class="gap">"爱与勇气的奇幻冒险"</div>
                    <div class="gap">2019.05.15-05.19</div>
                    <div class="gap">广州大剧院歌剧厅</div>
                </div>
            </div>
            <div class="buy-ticket-button">
                <div class="btb">购票</div>
            </div>
        </div>


        <div class="search-result-list">
            <div class="blanker"></div>
            <div class="movie-pic">
                <img src="/static/images/xiongmu.png" width="80">
            </div>
            <div class="movie-name">
                <div class="mv-txt">
                    <div class="gap"><b>熊木杏里演唱会</b></div>
                    <div class="gap">"清新治愈系"</div>
                    <div class="gap">2019.10.26</div>
                    <div class="gap">广州中山纪念堂</div>
                </div>
            </div>
            <div class="buy-ticket-button">
                <div class="btb">购票</div>
            </div>
        </div>


        <div class="search-result-list">
            <div class="blanker"></div>
            <div class="movie-pic">
                <img src="/static/images/kehuanwutai.png" width="80">
            </div>
            <div class="movie-name">
                <div class="mv-txt">
                    <div class="gap"><b>3D科幻舞台剧《三体》</b></div>
                    <div class="gap">"一段宇宙变迁史"</div>
                    <div class="gap">2019.05.15</div>
                    <div class="gap">广州友谊歌剧院</div>
                </div>
            </div>

            <div class="buy-ticket-button">
                <div class="btb">购票</div>
            </div>

        </div>



        <div class="search-result-list">
            <div class="blanker"></div>
            <div class="movie-pic">
                <img src="/static/images/fulamenge.png" width="80">
            </div>
            <div class="movie-name">
                <div class="mv-txt">
                    <div class="gap"><b>弗拉门戈舞剧《卡门》</b></div>
                    <div class="gap">"传统经典舞剧"</div>
                    <div class="gap">2019.04.27</div>
                    <div class="gap">广州星海音乐厅</div>
                </div>
            </div>

            <div class="buy-ticket-button">
                <div class="btb">购票</div>
            </div>

        </div>


        <!-- 底部box -->
        <div class="bottom-box"></div>


        {{ template "navibar" }}


    </div><!-- maxContainer end -->

    {{ template "last" }}

{{ end }}
