{{ define "meta" }}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <link rel="stylesheet" type="text/css" href="/static/css/master.css">

        <!-- bootstrap -->
        <script src="/static/js/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
        <script src="/static/js/bootstrap.min.js"></script>

        <!-- vue -->
        <script src="/static/js/vue.min.js"></script>
        <script src="/static/js/vue-resource.min.js"></script>

        <!-- swiper -->
        <script src="/static/js/swiper.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/swiper.min.css">

        <title>票雨电影</title>
    </head>

    <body>

{{ end }}