{{ define "mine" }}

    {{ template "meta" }}

    <div class="maxContainer">

        <div class="header">
            <span class="company-name">
                <img src="/static/images/touxiang.png" width="60">
            </span>
            <span>Butterfly</span>
        </div>

        <!-- 占位1 -->
        <div class="occupiedOne"></div>

        <!-- 占位2 -->
        <div class="occupiedTwo"></div>


        <!-- 会员 -->
        <div class="member-wrap">

            <!-- 左 -->
            <div class="m-l-wrap">
                <div class="m-l-t"></div>
                <div class="m-l-b"></div>
            </div> <!-- 左 end -->

            <!-- 中 -->
            <div class="m-m-w">
                <div class="z-w">

                    <div class="mzx">
                        <div class="hy-zx-z"><b>会员中心</b></div>
                    </div>

                    <div class="spm">
                        <div class="hy-sj-w">
                            <div class="hy-t">会员中心</div>
                            <div class="hy-sj">再积330经验值可升级</div>
                        </div>
                        <div class="hy-p">
                            <img src="/static/images/congratuation.png" width="60">
                        </div>
                    </div>
                </div>
            </div>  <!-- 中 end -->

            <!-- 右 -->
            <div class="m-l-wrap">
                <div class="m-l-t"></div>
                <div class="m-l-b"></div>
            </div> <!-- 右 end -->

        </div> <!-- 会员 end -->


        <!-- 会员权益图标 -->
        <div class="q-t-b">
            <div class="qy-tb-e">

                <div class="qt-ec">
                    <div class="tb-bs"><i class="glyphicon glyphicon-film"></i></div>
                    <div class="qy-tb-tx">电影票</div>
                </div>


                <div class="qt-ec">
                    <div class="tb-bs yhq"><i class="glyphicon glyphicon-yen"></i></div>
                    <div class="qy-tb-tx">2张优惠券</div>
                </div>

                <div class="qt-ec">
                    <div class="tb-bs qyk"><i class="glyphicon glyphicon-credit-card"></i></div>
                    <div class="qy-tb-tx">权益卡</div>
                </div>


                <div class="qt-ec">
                    <div class="tb-bs ycp"><i class="glyphicon glyphicon-modal-window"></i></div>
                    <div class="qy-tb-tx">演出票</div>
                </div>

            </div>

        </div>  <!-- 会员权益图标 end -->



        <!-- 条卡 -->
        <div>

            <!-- 每条 -->
            <div class="tk">
                <div class="tk-t">想看的电影/演出</div>
                <div class="tk-i"><i class="glyphicon glyphicon-menu-right"></i></div>
            </div> <!-- 每条 end -->


            <!-- 每条 -->
            <div class="tk">
                <div class="tk-t">看过的电影</div>
                <div class="tk-i"><i class="glyphicon glyphicon-menu-right"></i></div>
            </div> <!-- 每条 end -->


            <!-- 每条 -->
            <div class="tk">
                <div class="tk-t">乐影卡</div>
                <div class="tk-i"><i class="glyphicon glyphicon-menu-right"></i></div>
            </div> <!-- 每条 end -->


            <!-- 每条 -->
            <div class="tk">
                <div class="tk-t">我的小聚场</div>
                <div class="tk-i"><i class="glyphicon glyphicon-menu-right"></i></div>
            </div> <!-- 每条 end -->


            <!-- 每条 -->
            <div class="tk">
                <div class="tk-t">发起的讨论</div>
                <div class="tk-i"><i class="glyphicon glyphicon-menu-right"></i></div>
            </div> <!-- 每条 end -->


            <!-- 每条 -->
            <div class="tk">
                <div class="tk-t">银行卡优惠</div>
                <div class="tk-i"><i class="glyphicon glyphicon-menu-right"></i></div>
            </div> <!-- 每条 end -->


            <!-- 每条 -->
            <div class="tk">
                <div class="tk-t">娱乐宝</div>
                <div class="tk-i"><i class="glyphicon glyphicon-menu-right"></i></div>
            </div> <!-- 每条 end -->


            <!-- 每条 -->
            <div class="tk">
                <div class="tk-t">帮助与反馈</div>
                <div class="tk-i"><i class="glyphicon glyphicon-menu-right"></i></div>
            </div> <!-- 每条 end -->


        </div> <!-- 条卡 end -->


        <!-- 底部box -->
        <div class="bottom-box"></div>


        {{ template "navibar" }}


    </div><!-- maxContainer end -->

    {{ template "last" }}

{{ end }}
