{{ define "navibar" }}

    <!-- 底部导航 -->
    <div id="roll">
        <div>
            <div>
                <div><a id="ltu-hpg-i" class="bText b-spc" href="/index"><i class="glyphicon glyphicon-home"></i></a></div>
                <div><a id="ltu-hpg-t" class="bText b-spc" href="/index">首页</a></div>
            </div>

            <div>
                <div><a id="ltu-mv-i" class="bText" href="/process?t=1"><i class="glyphicon glyphicon-film"></i></a></div>
                <div><a id="ltu-mv-t" class="bText" href="/process?t=2">电影</a></div>
            </div>

            <div>
                <div><a id="ltu-sw-i" class="bText" href="/liveshow"><i class="glyphicon glyphicon-play-circle"></i></a></div>
                <div><a id="ltu-sw-t" class="bText" href="/liveshow">演出</a></div>
            </div>

            <div>
                <div><a id="ltu-me-i" class="bText" href="/mine"><i class="glyphicon glyphicon-user"></i></a></div>
                <div><a id="ltu-me-t" class="bText" href="/mine">我的</a></div>
            </div>

        </div>
    </div> <!-- 底部导航 end -->

{{ end }}