{{ define "rushBuy" }}

    {{ template "meta" }}

    <div class="maxContainer rush">

        {{ template "header" }}

        <!-- 占位1 -->
        <div class="occupiedOne"></div>

        {{ template "search" }}

        <!-- 占位2 -->
        <div class="occupiedTwo"></div>


       <!-- 每行抢购 -->
       <div class="rush-per-row">

           <!-- 上空白 -->
           <div class="ud-blank"></div>

           <div class="row-div">

               <div class="rush-row-img">
                    <img class="rush-img" src="/static/images/beishang.png" width="120">
               </div>

               <div class="ypm">
                   <div class="m-t">比悲伤更悲伤的故事火爆</div>
                   <div class="m-u">陈意涵演绎 抖音用户强烈推荐 限量</div>


                   <div class="qw">

                       <div class="rush-status">
                           已抢完
                       </div>

                       <div class="rush-price">
                           <span>¥</span>
                           <span class="pcs">0.1</span>
                           <span><s>¥5</s></span>
                       </div>

                   </div>

               </div>

           </div>

           <!-- 下空白 -->
           <div class="ud-blank"></div>

       </div> <!-- 每行抢购 end -->



        <!-- 每行抢购 -->
        <div class="rush-per-row">

            <!-- 上空白 -->
            <div class="ud-blank"></div>

            <div class="row-div">

                <div class="rush-row-img">
                    <img class="rush-img" src="/static/images/boximiya.png" width="120">
                </div>

                <div class="ypm">
                    <div class="m-t">波西米亚狂想曲</div>
                    <div class="m-u">5元代金券 限量5000</div>


                    <div class="qw">
                        <div class="status-right-now">
                            <a href="#">马上抢</a>
                        </div>

                        <div class="rush-price">
                            <span>¥</span>
                            <span class="pcs">0.1</span>
                            <span><s>¥5</s></span>
                        </div>

                    </div>

                </div>

            </div>

            <!-- 下空白 -->
            <div class="ud-blank"></div>

        </div> <!-- 每行抢购 end -->



        <!-- 每行抢购 -->
        <div class="rush-per-row">

            <!-- 上空白 -->
            <div class="ud-blank"></div>

            <div class="row-div">

                <div class="rush-row-img">
                    <img class="rush-img" src="/static/images/donggong.png" width="120">
                </div>

                <div class="ypm">
                    <div class="m-t">优酷会员6元代金券</div>
                    <div class="m-u">都挺好/东宫正在热映/热播</div>


                    <div class="qw">
                        <div class="status-right-now">
                            <a href="#">马上抢</a>
                        </div>

                        <div class="rush-price">
                            <span>¥</span>
                            <span class="pcs">0.1</span>
                            <span><s>¥6</s></span>
                        </div>

                    </div>

                </div>

            </div>

            <!-- 下空白 -->
            <div class="ud-blank"></div>

        </div> <!-- 每行抢购 end -->



        <!-- 底部box -->
        <div class="bottom-box"></div>


        {{ template "navibar" }}


    </div><!-- maxContainer end -->

    {{ template "last" }}

{{ end }}
