{{ define "tags" }}

    <!-- 圆图标 -->
    <div id="circle-icon-bar">
        <div class="each-icon">
            <div><a href="/exclusive"><img src="/static/images/new.png" width="60" height="60"></a></div>
            <div><a href="/exclusive" class="bText">新人专享</a></div>
        </div>

        <div class="each-icon">
            <div><a href="/rushBuy"><img src="/static/images/chaozhi.png" width="60" height="60"></a></div>
            <div><a href="/rushBuy" class="bText">超值抢购</a></div>
        </div>

        <div class="each-icon">
            <div><a href="/chosen"><img src="/static/images/zhongxin.png" width="60" height="60"></a></div>
            <div><a href="/chosen" class="bText">精选推荐</a></div>
        </div>

        <div class="each-icon">
            <div><a href="/hotshow"><img src="/static/images/danpian.png" width="60" height="60"></a></div>
            <div><a href="/hotshow" class="bText">全球热映</a></div>
        </div>

        <div class="each-icon">
            <div><a href="/usercenter"><img src="/static/images/huiyuan.png" width="60" height="60"></a></div>
            <div><a href="/usercenter" class="bText">会员中心</a></div>
        </div>

    </div> <!-- 圆图标 end -->

{{ end }}