{{ define "usercenter" }}

    {{ template "meta" }}

    <div class="maxContainer">

        <div class="header">
            <span class="company-name">
                <a href="/index">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                </a>
            </span>
            <span class="company-name uct">会员中心</span>
        </div>


        <!-- 占位1 -->
        <div class="occupiedOne"></div>


        <!-- 占位2 -->
        <div class="occupiedTwo occupiedThree"></div>


        <!-- 用户等级 -->
        <div class="user-card-wrap">

            <div class="user-level">普通用户</div>
            <div class="upgrade-level">
                经验值28|再积332经验值可升级
            </div>

            <div class="process-bar">
                <div class="outside-bar">
                    <div class="inner-bar"></div>
                </div>
            </div>

            <div class="integral">
                <span class="score">0</span>
            </div>

            <div class="happy-coin">
                我的快乐金
            </div>

        </div> <!-- 用户等级 end -->


        <!-- 占位2 -->
        <div class="occupiedTwo occupiedThree"></div>


        <!-- 精选福利 -->
        <div class="weal-warp">

            <!-- 空白占位 -->
            <div class="w-b"></div>

            <div>
                <div class="b-txt">
                    精选福利
                </div>
            </div>

            <!-- 空白占位 -->
            <div class="w-b"></div>

            <!-- 每行福利 -->
            <div class="each-weal">
                <div class="p-l">
                    <div><img class="l-i" src="/static/images/chiyu.png" width="140"></div>
                    <div class="i-t"><b>新辣道鱼火锅1元购鱼券</b></div>
                    <div class="t-h">8快乐金</div>
                </div>

                <div class="p-r">
                    <div class="pfr">
                        <div><img class="l-i" src="/static/images/mayizhuangyuan.png" width="140"></div>
                        <div class="i-t"><b>蚂蚁庄园加速卡</b></div>
                        <div class="t-h">10快乐金</div>
                    </div>
                </div>

            </div> <!-- 每行福利 end -->


            <!-- 空白占位 -->
            <div class="w-b"></div>


            <!-- 每行福利 -->
            <div class="each-weal">
                <div class="p-l">
                    <div><img class="l-i" src="/static/images/xiamiyinyue.png" width="140"></div>
                    <div class="i-t"><b>虾米音乐超级会员</b></div>
                    <div class="t-h">50快乐金</div>
                </div>

                <div class="p-r">
                    <div class="pfr">
                        <div><img class="l-i" src="/static/images/wumenkan.png" width="140"></div>
                        <div class="i-t"><b>App Store无门槛红包</b></div>
                        <div class="t-h">10快乐金</div>
                    </div>
                </div>

            </div> <!-- 每行福利 end -->


            <!-- 空白占位 -->
            <div class="w-b"></div>


            <!-- 每行福利 -->
            <div class="each-weal">
                <div class="p-l">
                    <div><img class="l-i" src="/static/images/elemo.png" width="140"></div>
                    <div class="i-t"><b>饿了么外卖红包</b></div>
                    <div class="t-h">5快乐金</div>
                </div>

                <div class="p-r">
                    <div class="pfr">
                        <div><img class="l-i" src="/static/images/youkulibao.png" width="140"></div>
                        <div class="i-t"><b>优酷会员大礼包</b></div>
                        <div class="t-h">10快乐金</div>
                    </div>
                </div>

            </div> <!-- 每行福利 end -->

            <div class="w-b"></div>

        </div> <!-- 精选福利 end -->



        <!-- 占位2 -->
        <div class="occupiedTwo occupiedThree"></div>


        <!-- 优选福利 -->
        <div class="weal-warp">

            <!-- 空白占位 -->
            <div class="w-b"></div>

            <div>
                <div class="b-txt">
                    优选福利
                </div>
            </div>

            <!-- 空白占位 -->
            <div class="w-b"></div>

            <!-- 每行优选 -->
            <div class="good-chose">

                <div class="djq-l">
                    <div class="djq-l-i">
                        <img src="/static/images/diejiayiyuan.png" width="90">
                    </div>

                    <div class="dj-dsc">
                        <div class="d-w-z"><b>1元可叠加代金券</b></div>
                        <div class="hp-p">100快乐金</div>
                    </div>

                </div>

                <div class="dh-w">
                    <span class="dh-ts">立即兑换</span>
                </div>

            </div>  <!-- 每行优选 -->



            <!-- 每行优选 -->
            <div class="good-chose">

                <div class="djq-l">
                    <div class="djq-l-i">
                        <img src="/static/images/diejiasan.png" width="90">
                    </div>

                    <div class="dj-dsc">
                        <div class="d-w-z"><b>3元可叠加代金券</b></div>
                        <div class="hp-p">300快乐金</div>
                    </div>

                </div>

                <div class="dh-w">
                    <span class="dh-ts">立即兑换</span>
                </div>

            </div>  <!-- 每行优选 -->



            <!-- 每行优选 -->
            <div class="good-chose">

                <div class="djq-l">
                    <div class="djq-l-i">
                        <img src="/static/images/shuqixiaoshuo.png" width="90">
                    </div>

                    <div class="dj-dsc">
                        <div class="d-w-z"><b>书旗小说45天会员</b></div>
                        <div class="hp-p">5快乐金</div>
                    </div>

                </div>

                <div class="dh-w">
                    <span class="dh-ts">立即兑换</span>
                </div>

            </div>  <!-- 每行优选 -->


        </div> <!-- 优选福利 end -->



        <!-- 底部box -->
        <div class="bottom-box"></div>


        {{ template "navibar" }}


    </div><!-- maxContainer end -->

    {{ template "last" }}

{{ end }}
